# Copy this file to .env.local and fill in your values.
# Never commit .env.local to git.

# Base URL for your backend API
VITE_API_BASE_URL=http://localhost:3000/api

VITE_FIREBASE_API_KEY="AIzaSyAuHTjENxGNio-L2SGKIlWks_FuPbFuE6Y"
VITE_FIREBASE_AUTH_DOMAIN="glpfish-69b55.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="glpfish-69b55"
VITE_FIREBASE_STORAGE_BUCKET="glpfish-69b55.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="892127429034"
VITE_FIREBASE_APP_ID="1:892127429034:web:51c41d3b84d6e1e7682bd3"
VITE_FIREBASE_MEASUREMENT_ID="G-E5805X0K83"